* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora";
}

.img {
    max-width: 100%;
    border-radius: 20px;
}

body {
    background-color: #fbfaf8;
    padding: 100px 16px
}



.box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    max-width: 400px;
    margin-inline: auto;
}

button {
    margin-top: 20px;
    background-color: #883AE125;
    color: #883AE1;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
}

.box button:hover {
    background-color: #883ae175;
}

h2 {
    color: #20293a;
    margin: 20px 0;
}

.paragraph {
    color: #6c727f;
    line-height: 1.8;
}


.name {
    color: #6c727f;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #e5eaf0;
}


@media (min-width:640px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
}